<td class="text-center">
    <i *ngIf="symfony.favourite" class="fas fa-star text-warning" (click)="switchFavourite()"></i>
    <i *ngIf="!symfony.favourite" class="far fa-star text-secondary" (click)="switchFavourite()"></i>
</td>
<td>{{symfony.name}}</td>
<td>
    <small>{{symfony.path}}</small>
</td>
<td class="text-center">
    <div *ngIf="!symfony.loading">
        <i *ngIf="symfony.active" class="fas fa-check-circle text-success"></i>
        <i *ngIf="!symfony.active" class="fas fa-times-circle text-secondary"></i>
    </div>

    <i *ngIf="symfony.loading" class="fas fa-circle-notch fa-spin"></i>
</td>
<td class="text-center">
    <div class="btn-group btn-group-sm" role="group">
<!--        <a *ngIf="symfony.active && !hasLinks()" href="{{symfony.url}}" target="_blank" class="btn btn-primary">Open</a>-->
        <button *ngIf="symfony.active" class="btn btn-warning" (click)="doStop()" title="Stop">
            <i class="fas fa-stop"></i>
        </button>
        <button *ngIf="!symfony.active" class="btn btn-success" (click)="doStart()" title="Play">
            <i class="fas fa-play"></i>
        </button>
        <button *ngIf="!symfony.active" class="btn btn-danger" (click)="deleteSymfony()" title="Delete">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</td>
<td>
<!--    <ul class="list-group">-->
<!--        <li class="list-group-item bg-dark">-->
<!--            <a *ngIf="symfony.active" href="{{symfony.url}}" target="_blank" class="text-light">-->
<!--                {{symfony.url}}-->
<!--            </a>-->
<!--            <span *ngIf="!symfony.active" class="text-light">-->
<!--                <small>{{symfony.url}}</small>-->
<!--            </span>-->
<!--        </li>-->
<!--        <li *ngFor="let entryPoint of symfony.entryPoints" class="list-group-item bg-dark">-->
<!--            <div class="row">-->
<!--                <div class="col-md">-->
<!--                    <a *ngIf="symfony.active" href="{{symfony.url}}{{entryPoint}}" target="_blank" class="text-light">-->
<!--                        {{symfony.url}}{{entryPoint}}-->
<!--                    </a>-->
<!--                    <span *ngIf="!symfony.active" class="text-light">-->
<!--                        <small>{{symfony.url}}{{entryPoint}}</small>-->
<!--                    </span>-->
<!--                </div>-->
<!--                <div class="col-md text-right">-->
<!--                    <i class="fas fa-times text-danger cursor-pointer" (click)="removeEntryPoint(entryPoint)"></i>-->
<!--                </div>-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->

    <div>
        <a *ngIf="symfony.active" href="{{symfony.url}}" target="_blank" class="text-light">
            <small>{{symfony.url}}</small>
        </a>
        <span *ngIf="!symfony.active" class="text-light">
            <small>{{symfony.url}}</small>
        </span>
    </div>
    <div *ngFor="let entryPoint of symfony.entryPoints" class="row">
        <i class="fas fa-times text-danger removeEntryPoint mr-1" (click)="removeEntryPoint(entryPoint)"></i>

        <a *ngIf="symfony.active" href="{{symfony.url}}{{entryPoint}}" target="_blank" class="text-light">
            <small>{{symfony.url}}{{entryPoint}}</small>
        </a>

        <span *ngIf="!symfony.active" class="text-light">
            <small>{{symfony.url}}{{entryPoint}}</small>
        </span>
    </div>

    <button type="button" class="btn btn-info btn-sm" (click)="addEntryPoint()">
        <i class="fas fa-plus-square"></i>
<!--        Add entry point-->
    </button>
</td>
<td>
    <div *ngFor="let command of symfony.commands" class="row">
        <i class="fas fa-times text-danger removeEntryPoint mr-1" (click)="removeCommand(command)"></i>

        <span class="cursorPointer" (click)="executeCommand(command)">
            <small>
                {{command.label ? command.label : command.command}}
                <small *ngIf="command.priority != 0">(priority: {{command.priority}})</small>
            </small>
        </span>
    </div>

    <button type="button" class="btn btn-info btn-sm" (click)="addCommand()">
        <i class="fas fa-plus-square"></i>
    </button>
</td>
