<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Symfonies manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:{{symfoniesConf.port}}/" target="_blank">
                    <i class="fas fa-info text-info"></i>
                    View proxy page
                </a>
            </li>
            <li class="nav-item active">
                <span class="nav-link cursorPointer" (click)="addSymfony()">
                    <i class="fas fa-plus text-success"></i>
                    Add symfony
                </span>
            </li>
<!--            <li class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" id="usefulLinks" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                    <i class="fas fa-link mr-1"></i>Useful links-->
<!--                </a>-->
<!--                <div class="dropdown-menu bg-dark" aria-labelledby="usefulLinks">-->
<!--                    <a class="dropdown-item text-light" href="https://symfony.com/" target="_blank">-->
<!--                        Symfony site-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://symfony.com/roadmap" target="_blank">-->
<!--                        Symfony roadmap-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="http://nux.net/secret" target="_blank">-->
<!--                        Symfony Secret Generator-->
<!--                    </a>-->

<!--                    <div class="dropdown-divider"></div>-->

<!--                    <a class="dropdown-item text-light" href="http://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank">-->
<!--                        Bootstrap documentation-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://fontawesome.com/icons?d=gallery&amp;m=free" target="_blank">-->
<!--                        Fontawesome-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="http://www.yopmail.com/it/email-generator.php" target="_blank">-->
<!--                        YOPmail-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://regex101.com/" target="_blank">-->
<!--                        Regex101-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://jsoncompare.com/#!/simple/" target="_blank">-->
<!--                        JSONCompare (ex JSONLint)-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://codebeautify.org/" target="_blank">-->
<!--                        Code beautify (a Swiss Army knife :D)-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://passwordsgenerator.net/" target="_blank">-->
<!--                        Secure Password Generator-->
<!--                    </a>-->
<!--                    <a class="dropdown-item text-light" href="https://www.browserstack.com/" target="_blank">-->
<!--                        BrowserStack-->
<!--                    </a>-->
<!--                </div>-->
<!--            </li>-->
        </ul>

        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search">
        </form>
    </div>
</nav>

<div class="container-fluid">
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="text-center">Favourites</th>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col" class="text-center">Active</th>
                <th scope="col" class="text-center">Operations</th>
                <th scope="col">Entry points</th>
                <th scope="col">Commands</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let symfony of symfonies">
                <tr app-symfony *ngIf="doSearch(symfony)" [symfony]="symfony"></tr>
            </ng-container>
        </tbody>
    </table>
</div>
